html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

span,
strong,
p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}

a {
  color: #000;
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

h1,
h5 {
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
  font-size: 70px;
  margin-bottom: 70px;
  font-weight: 900;
}

h2 {
  font-size: 60px;
  margin-bottom: 60px;
  margin-top: 0px;
  font-weight: 900;
}

h3 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 900;
}

h4 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 900;
}

h5 {
  font-size: 20px;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
}

button:focus,
button:active {
  outline: none;
}

.nav {
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-left: 55px;
  padding-right: 75px;
}

.lang-option span {
  color: #7e7a7a;
  padding: 8px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.lang-option span.selected {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

.anonymous-banner {
  height: 63px;
  background-color: #f6bd60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.cta-button {
  border-radius: 30px;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  width: 425px;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 0px;
  margin: 0 16px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.cta-button:hover {
  width: 450px;
}

.cta-button:first-of-type {
  margin-left: 0;
}

.cta-button.primary {
  background-color: #f6bd60;
  border-color: transparent;
}
